*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    font-weight: bold;
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    background: linear-gradient(to left, #ceb6dd, #ffffff);
}
h1{
    text-align: center;
    text-transform: uppercase;
}
table{
    width: 60%;
    margin: 0 auto;
    border-radius: 30px;
    border-spacing: 10px;
}
th{
    padding: 20px 0;
    border-radius: 30px;
    background-color: #eab4ff59;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;
}
td{
    text-align: center;
    padding: 5px 0;
    border-radius: 30px;
    background-color: #eab4ff59;
    -webkit-box-shadow: 3px 4px 9px #00000075;
    box-shadow: 3px 4px 9px #00000075;
}
h3{
    font-weight: bold;
    text-align: center;
    margin: 30px 0 20px 0;
    font-size: 34px;
    text-transform: uppercase;
}
.container {
    margin: 0 auto;
}
.pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item {
    margin: 20px 10px;
    width: 400px;
    -webkit-box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 28px -7px rgba(0,0,0,0.75);
}
/*
.box{
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100%;

}
.header{
    position: relative;
}
.header:before, .header:after {
    content: 'ГИИИИИИИИИИИИИИИИИФКИ';
    color: #fff;
    position: absolute;
    overflow: hidden;
}
.header:before {
    left: 3px;
    text-shadow: -3px 0 red;
    animation: glitch-before 2s linear 0s infinite alternate;
}
.header:after {
    left:-3px;
    text-shadow: -3px 0 blue;
    animation: glitch-after 2s linear 0s infinite alternate;
}

@keyframes header-before {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
           clip: rect(random(150)+px, 350px, random(150)+px, 30px)
        }
     }
 }
 @keyframes header-after {
    $steps: 20;
    @for $i from 0 through $steps {
       #{percentage($i*(1/$steps))} {
          clip: rect(random(150)+px, 350px, random(150)+px, 30px)
       }
    }
 }
 */
 
 